.ex-header.duurzaam {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/Sustainability.png') center center no-repeat;
	background-size: contain;
}

.ex-header.gemeenschap {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/Community.png') center center no-repeat;
	background-size: cover;
}

.ex-header.natuurinclusief {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/Nature.png') center center no-repeat;
	background-size: cover;
}

.ex-header {
	min-height: 65%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.logo-container {
	display:flex;
	justify-content: center;
	width:300px;
	height: 300px;
	background: white;
	opacity:0.6;
	border:2px solid white;
	border-radius:300px;
}

.logo-image {
	width: 220px;
	padding-bottom:20px;
}

strong {
	color: #02404f;
}
a {
	color: #009d97;
	text-decoration: none;
}
a:hover {
	color:#71c4c2;
	text-decoration: none;

}
body, .cards-2 {
	background:#f3f6f6;
}

.section-title{
	color: #009d97;
}

.team {
	display:flex;
	flex-wrap:wrap;	
	align-items: stretch;
}

.team-member {
	border-radius:20px;
	overflow:hidden;
	/*box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 1px -1px rgb(0 0 0 / 12%);*/
	/*box-shadow: 0px 0px 2px 0.1px rgb(0 0 0 / 30%);*/
	background-color:white;
	max-width:400px;
	display:flex !important;	
	align-items: stretch;
}

.team-member .card-body{
	padding:10px 1.5rem 10px 1.5rem;
	border-radius:0px 0px 20px 20px;
	display:flex;
	flex-direction: column;
}

.member-name-wrapper{
	margin-top:10px;
	display:flex;
	flex-direction:row;
	margin-left:10px;
	margin-right:10px;
}

.member-bar {
	margin-top:auto;
	margin-bottom:auto;
	width: 100% !important;
	height:4px;
	background:#009d97;
	border-radius:20px;
}

.member-name {
	white-space: nowrap;
	margin:auto;
	margin-left:20px;
	text-align:right;
	color: #009d97;
	font-weight:bold;
}
.member-description {
	font: 13px "Open Sans", sans-serif;
	text-align: left;
	margin: 10px;
	text-align:justify;
	text-justify:inter-word;
	margin-bottom:20px;
}

.member-img {
	height: 250px;
	width:100%;
	object-fit:cover;
}

.member-icons {
	justify-content: center;	
	margin-top:auto;
	margin-bottom:10px;
}

.member-icon {
	display:flex;
	border-radius: 100%;
	border: 0.01rem solid #009d97;
	width:40px;
	height:40px;
	margin-left:5px;
	margin-right:5px;	
}
.member-icon * {
	color:#009d97;	
	margin:auto;
}

.member-icon:hover *{
	color:#71c4c2;
}
.member-icon:hover{
	border: 0.01rem solid #71c4c2;
}

.header {
	height:100vh !important;
	/*background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/KerkRoel.jpg') center center no-repeat;*/
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('../images/KerkRoel.jpg') center center no-repeat;
	background-size: cover;
}


.contact{
	padding-top: 6.625rem;	
	padding-bottom: 5.625rem;
	background:#fafafa4a;
	border-top:1px solid #e8ebeb;
	border-bottom: 2px solid #e8ebeb;

}

.copyright {
	background:#02404f;
}

.copyright p{
	color: #f3f6f6;
}

a.back-to-top{
	background:#009d97 url(../images/up-arrow.png) no-repeat center 47%;
}

a:hover.back-to-top{
	background:#71c4c2 url(../images/up-arrow.png) no-repeat center 47%;	
}




.big-logo-container{
	display:flex;	
	border:1px solid #ebe8e8;
	opacity:1;
	height:87%;
	background:transparent;
	border-radius:20px;
	justify-content: center;
}

.big-logo-container img{
	margin-top:15%;
	margin-bottom:15%;
	width:50%;
	height:50%;
}

.main-title{
	width:650px;
	text-align:left;
	margin-top:25vh;

}

.core-value {
	max-width:400px;	
	margin:auto;
}
.core-value .card-body{
	border-radius:0px 0px 20px 20px;
	border-top:none;
}

.core-value .card-image {
	border: 1px solid #e8ebeb;
	border-radius:20px 20px 0px 0px;
	border-bottom:none;
	background:#71c4c244;
	display:flex;
	justify-content: center;
}

@media (max-width: 768px) {
 .header{
 	background-position: 65% 0%;

 }
}

@media screen and (max-width:991px){
.team-member{
	margin-left:auto;
	margin-right:auto;
}
}

@media (min-width: 990px) {
	.main-title{
		margin-left:-10%;
	}

}

@media (min-width: 1200px) {
	.main-title{
		margin-left:-50%;
	}
}